header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  padding-bottom: 8px;
}

nav li{
  display: inline-block;
  position: relative;
  right: 40px;
  padding: 0 5px;
  margin: 0 5px;
  }

span a {
    color: black;
  }

.logo {
    display: flex;
    align-items: center;
  }

.logo p {
    position: relative;
    left: 20px;
    padding: 0 3px;
    margin: 0 3px;
  }

.logo-color {
    color: mediumaquamarine;
  }

/*.story , .news-bites , img, .container, .align, .column {
    border: 1px solid black;
  }*/

.container {
    display: flex;
    justify-content: space-between;
    margin: 40px auto;
    width: 70%
  }

  .column {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
  }

  .align {
    display: flex;
    /*flex-direction: column;*/
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
    /*max-height: 600px;
    width: 630px;*/

  }

.column.large {
     width: 630px;
   }

.column.medium {
     width: 300px;
   }

.column.small {
  width: 240px;
  margin-right: 15px;
  flex-direction: column;
}

.news-bites h2 {
  font-size: 16px;
 font-weight: bold;
 text-align: center;
 flex-direction: column;
}

.news-bites .list {
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-around;
}

.list p{

  border-bottom: 1px solid black;
}

.align .story {
  width: 300px;
}


.story.mother {
  background-image: url("./images/img-story-main.png");
  height: 300px;
}

.align .story.earth {
  background-image: url("images/img-story-2.png");
  height: 300px;
  display: flex;
  justify-content: center;
  order: 3;
}

.align .story.camera {
  background-image: url("images/img-story-3.png");
  height: 300px;
  display: flex;
  justify-content: center;
  order: 4;
}

.story.swap {
  order: 2;
}

.story.sec {
  order: 1;
}

.story.cats {
  background-image: url("images/img-story-1.png");
  height: 300px;
  display: flex;
  justify-content: center;
}

.story p{
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.story h1{
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  margin-top: 0;
  width: auto;
}

.story.mother h1{
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
  margin: 0;
}

.footer {
  background-color: MediumAquamarine;
  height: 300px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-container {
  font-family: Verdana;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 500px;
}

.mytimes p {
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
  margin-right: 30px;
}

.separate p {
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
  margin: 0;
}

.nav li {
  display: inline;
  padding: 0 5px;
  margin-right: 5px;
}

.nav {
  padding-left: 0;
  margin-left: 0;
}
